<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <sessionState timeout="10" mode="InProc"/>
    <compilation debug="true" targetFramework="4.0" />
    <siteMap >
      <providers>
        <add name="Web" type="System.Web.XmlSiteMapProvider"
         siteMapFile="~/Web.sitemap"/>
        <add name="Default" type="System.Web.XmlSiteMapProvider"
         siteMapFile="~/Default.sitemap"/>
        <add name="User" type="System.Web.XmlSiteMapProvider"
         siteMapFile="~/User.sitemap"/>
        <add name="Agent" type="System.Web.XmlSiteMapProvider"
         siteMapFile="~/Agent.sitemap"/>
      </providers>
    </siteMap>
  </system.web>

  <connectionStrings>
     <add name="connString" connectionString="Data Source=TK-PC\TK;Initial Catalog=ILP;Integrated Security=True" providerName="System.Data.SqlClient" /> 
   <!--<add name="connString" connectionString="Data Source=ingnrilpsql02;Initial Catalog=AHD19_A74;User Id=ahd19;Password=ahd19" providerName="System.Data.SqlClient" />--> 
  </connectionStrings>

</configuration>
